body {
  font-family: sans-serif;
  background-color: #45171d;
}
h1 {
  text-align: center;
  font-size: 60px;
  color: #fecea8;
  padding: 40px;
}
.search-form {
}
.daily-weather {
  text-align: center;
  padding: 30px;
  margin: 0px;
  background-color: #f03861;
}
.current-weather {
  padding: 30px;
  margin: 30px;
}
.col-md-2 {
}

.blanket-information {
  margin: 30px;
}
