body {
  font-family: sans-serif;
  background-color: #45171d;
}
h1 {
  text-align: center;
  font-size: 60px;
  color: #fecea8;
  padding: 40px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  border: 1px;
}
.overview {
  text-align: left;
}
.weather-temperature {
  text-align: left;
}
.location-bar {
  width: 100%;
}
.search-button {
  width: 100%;
}
.submit-button {
  width: 100%;
}
.daily-weather {
  text-align: center;
  padding: 30px;
  margin: 0px;
  background-color: #f03861;
}
.current-weather {
  padding: 30px;
  margin: 30px;
  text-align: center;
}
.col-md-2 {
  margin: 0 auto;
  width: 19%;
  text-align: center;
}

.blanket-information {
  margin: 30px;
  text-align: center;
}
