@keyframes color {
  0% {
    background: #e8d7ff;
  }
  20% {
    background: #ffd3e8;
  }
  40% {
    background: #ffd7d5;
  }
  60% {
    background: #f3ffe1;
  }
  80% {
    background: #dfffd6;
  }
  100% {
    background: #e8d7ff;
  }
}
body {
  font-family: "Comfortaa", cursive;
  animation: color 9s infinite linear;
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
}
h1 {
  text-align: center;
  font-size: 60px;
  color: black;
  padding: 10px;
}
h2 {
  font-size: 60px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  border: 1px;
}
.overview {
  text-align: left;
}
.weather-temperature {
  text-align: left;
}

.temperature-current {
  padding-top: 0;
  margin: 0 auto;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.location-bar {
  width: 100%;
  border-radius: 30px;
  text-align: center;
}
.search-button {
  width: 100%;
  background-color: rgb(237, 161, 193);
  border-radius: 30px;
}
.search-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.weather-forecast-date {
  font-size: 20px;
}
.humidity-wind {
  font-size: 50px;
}
.current-location {
  width: 100%;
  background-color: rgb(237, 161, 193);
  border-radius: 30px;
}
.daily-weather {
  text-align: center;
  padding: 30px;
  margin: 0px;
  background-color: #f03861;
}
.current-weather {
  padding: 30px;
  margin: 12px;
  text-align: center;
}
.col-md-2 {
  margin: 0 auto;
  text-align: center;
}
.blanket-information {
  margin: 12px;
  text-align: center;
}
.units {
  font-size: 15px;
  position: relative;
  top: -18px;
}
.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}
#temperature-information {
  display: inline-block;
  vertical-align: middle;
  font-size: 50px;
}
#last-updated,
#description {
  font-size: 13px;
}
#humidity-wind {
  padding-top: 30px;
}
#icon {
  margin-right: 5px;
  height: 100px;
  width: 100px;
}
#submit-button:hover {
  opacity: 0.7;
  cursor: pointer;
}
